<div class="row position-relative">
  <app-loader [loading]="loading"></app-loader>
  <div class="col-12">
    <div class="position-relative card h-100 mb-0">
      <div class="card-body">
        <table class="table student-profile-table">
          <thead>
            <tr>
              <th class="text-ellipsis" data-toggle="tooltip" data-placement="right" title="Makeup Date">Makeup Date
              </th>
              <th class="text-ellipsis" data-toggle="tooltip" data-placement="right" title="Date">Makeup Hours</th>
              <th class="text-ellipsis" data-toggle="tooltip" data-placement="right" title="Created By">Created By</th>
              <th class="text-ellipsis" data-toggle="tooltip" data-placement="right" title="Created Date">Created Date
              </th>
              <th class="text-ellipsis" data-toggle="tooltip" data-placement="right" title="Reason">Reason</th>
              <th class="text-ellipsis" data-toggle="tooltip" data-placement="right" title="Comments">Comments</th>
              <th class="text-ellipsis" data-toggle="tooltip" data-placement="right" title="Action">
                <button [disabled]="canAdd()" type="button" class="btn btn-primary"
                  (click)="createRecord()"><i class="ion-md-add"></i></button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <td>{{item.date | date: 'MMM/dd/yyyy'}}</td>
              <td>
                <input *ngIf="isValid(item.userCreatedUniqueId)" type="number" [(ngModel)]="item.hours" />
                <div *ngIf="!isValid(item.userCreatedUniqueId)">{{item.hours}}</div>
              </td>
              <td>{{item.userFirstName + ' ' + item.userLastSurname}}</td>
              <td>{{item.createDate | date: 'MMM/dd/yyyy'}}</td>
              <td>
                <select *ngIf="isValid(item.userCreatedUniqueId)" [(ngModel)]="item.reasonId">
                  <option *ngFor="let reason of reasons" [value]="reason.reasonId">{{reason.value}}
                  </option>
                </select>
                <div *ngIf="!isValid(item.userCreatedUniqueId)">{{item.reason}}</div>

              </td>
              <td>
                <input *ngIf="isValid(item.userCreatedUniqueId)" type="text" [(ngModel)]="item.comments" />
                <div *ngIf="!isValid(item.userCreatedUniqueId)">{{item.comments}}</div>
              </td>
              <td>
                <button [disabled]="!isValid(item.userCreatedUniqueId)" type="button" class="btn btn-primary"
                  (click)="updateRecord(item)"><i class="ion-md-create"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
