.green-section {
  background: rgba(127,255,127,1);
  width: 26%;
  z-index: 0;
}
.red-section {
  background: rgba(255,139,163,1);
  width: 49.5%;
  z-index: 0;
}
.yellow-section {
  background: rgba(255,230,170,1);
  width: 24.5%;
  z-index: 0;
}
.bar-chart {
  z-index: 1;
  position: absolute;
  left: 0;
}

.bar-container {
  position: relative;
  padding-left: 114px;
}

.chart-colors {
  display: flex;
  overflow: hidden;
  padding-bottom: 50px;
}
